<div class="{{heroes.hero.name}}">
  <ul>
    <li><img src="{{heroes.hero.img}}" alt="{{heroes.hero.name}}" /></li>
    <li>{{heroes.hero.name}}</li>
    <li>{{heroes.hero.hp}}</li>
    <li>{{heroes.hero.energy}}</li>
  </ul>
</div>